/*These colors might be off: I'm red/green colorblind, not extremely but badly enough I routinely misread shades of all colors.
I pulled these colors from my desktop background, which has a palette I really like, but I don't have anyone
around right now to tell me if I've misinterpreted them or how they're rendered through the color values below.
I just wanted to tell you in case something, maybe, doesn't make sense or clashes horribly.*/

/*Style for Navbar*/

.navbar{
    background: #849ac0;
}

.nav-link{
    color: black;
}

/*Page Background*/

body{
    padding-top: 65px;
    background-color: #e5e5ed;
}

/*Universal style for page bodies*/

.main{
    margin-top: 30px;
    max-width: 700px;
    background-color: ghostwhite;
}

/*Reusable headers/footers for content*/

.head{
    border-bottom-style: solid;
    border-width: thin;
    background-color: #afbee1;
}

.head h2{
    vertical-align: middle;
}

.foot{
    border-top-style: solid;
    border-width: thin;
    background-color: #afbee1;
}

.foot h4,h5{
    vertical-align: middle;
    padding-top: 2px;
}

/*Style for the About Me card, distinct from Portfolio cards*/

#bio{
    margin-top: 0px;
}

#bio .card{
    background-color: ghostwhite;
}

#bio .col-md{
    padding-right: 0px;
    padding-left: 0px;
}

article{
    margin-left: 5px;
}

.Skills i{
    min-width: 500px;
}


/*Style for Contact page*/

#con{
    margin-top: 10px;
    padding-bottom: 10px;
}

/*Style for Portoflio Page*/

.card-link{
    text-decoration: underline;
    color: black;
}

.pHeader{
    border-bottom-style: solid;
    border-width: thin;
    background-color: #d3e4fb;
}

.card-footer{
    background-color: #d3e4fb;
}

.card-footer.row{
    margin-right: 0px;
    margin-left: 0px;
}

/*Reduces padding between body/navbar for cleaner design on mobile*/
@media only screen and (max-width: 600px) {
    body {
      padding-top: 40px;
    }
  }